<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="game_rental_final.Properties.Settings.game_rental_sysConnectionString"
            connectionString="Data Source=DESKTOP-006HCOG\SQLEXPRESS;Initial Catalog=game_rental_sys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="game_rental_final.Properties.Settings.GameRentalDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-006HCOG\SQLEXPRESS;Initial Catalog=GameRentalDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>